<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>a website</title>
  </head>
  <body>
    {{> header}}
    <ul>
      <li>project 1</li>
      <li>project 2</li>
      <li>project 3</li>
    </ul>

    {{> footer}}
  </body>
</html>
