<header>
    <h1>{{pageTitle}}</h1>
    <table>
      <tr>
        <td><a href="/">home</a></td>
        <td><a href="/projects">projects</a></td>
        <td><a href="/about">about</a></td>
      </tr>
    </table>
    <!-- <p><a href="/">home</a></p>
    <p><a href="/projects">projects</a></p>
    <p><a href="/about">about</a></p> -->
</header>
